{{> mainmenu _id="details" }}

<section class="ui segment">

    <h2>{{points.costalZone}}</h2>
    <h3>{{points.name}}</h3>
    <div>{{points.description}}</div>

    <p></p>
    <p><strong> latitude: </strong> {{points.coordinates.lat}}</p>
    <p><strong> longitude: </strong>  {{points.coordinates.long}}</p>

    <section class="ui segment">


    <div class="ui large images">
          {{#each points.image}}
               <img src="{{url}}">
           {{/each}}
    </div>
    </section>


    <section class="ui segment">

    <h3>Review</h3>
    <div class="ui four wide grid">
    <table class="ui green celled table segment">
        <thead>
        <tr>
            <th>Comment</th>
            <th>Stars</th>
            <th>Point</th>
            <th>Contributor</th>
        </tr>
        </thead>
        <tbody>
        {{#each reviews}}
            <tr>
                <td> {{comment}} </td>
                <td> {{star}} </td>
                <td> {{point.name}} </td>
                <td> {{contributor.firstName}} {{contributor.lastName}} </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>

    </section>

</section>